In [1]:
# this script can be used to analye the blocks from find-plateau scripts


import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
filepath = 'data/hbbft/plateau-cpu-bound/02-native-cpu.csv'
df = pd.read_csv(filepath)

In [4]:
filepath2 = 'data/hbbft/plateau-cpu-bound/03-after-try-send-fix.csv'
df2 = pd.read_csv(filepath2)

In [6]:
df.head()

,tx_per_account,num_of_accounts,num_of_validators,total_txs,number_of_blocks,sum_of_block_time,blockStart,blockEnd,block_per_second,txs_per_second
0,1,100,25,"""100""",2,6,22,24,0.3333,16.67
1,2,100,25,"""200""",2,5,24,26,0.4000,40.00
2,3,100,25,"""300""",2,5,26,28,0.4000,60.00
3,4,100,25,"""400""",2,5,28,30,0.4000,80.00
4,5,100,25,"""500""",2,6,30,32,0.3333,83.33

In [7]:
plt.rcParams['figure.figsize'] = [60, 20]

# plt.plot(df.block, df.txs_per_sec)
# plt.plot(df2.block, df2.txs_per_sec)


plt.plot(df.txs_per_second)
plt.plot(df2.txs_per_second)

AttributeError: 'DataFrame' object has no attribute 'txs_per_sec'